body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
   
}
h2 {
    display: block;
    margin: 0;
}

p {
    display: block;
    padding-bottom: 37px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation {
    padding-top: 26px;
    padding-bottom: 25px;
    border-bottom: 1px solid #828282;
}

.navigation__list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    list-style-type: none;
}

.navigation__item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #828282;
}

.navigation__item a:hover {
    color: #070707; 
    transition: 0.2s;
}

.navigation__item a:active {
    opacity: 0.5;
    transition: 0.2s;
}

.box {
    max-width: 943px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #070707;
}

.box__text {
    display: block;
    font-size: 21px;
    line-height: 31px;
    color: #070707;
}
.box__arrow {
    background-image: url(../images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    display: block;
    left: 50px;
    bottom: 10px;
    transition: .3s;
}

.box__arrow:hover {
    transform: scale(1.2);
}

.box__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page__img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.about {
    margin: 120px 0;
    background-color: #F6F6F6;
    text-align: center;
}

.wrapper {
    padding: 0 15px;
}

.title {
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.about__title {
    padding: 120px 0 40px 0;
}

.text {
    font-size: 20px;
    line-height: 22px;
    color: #070707;

}

.about__text {
    padding-bottom: 55px;
}
